html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

@media (max-width: 820px) {
  html {
    font-size: 14px;
  }  
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }  
}

.body {
  background-color: #f6f6ec;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.meme__title {
  align-self: baseline;
  max-width: calc(100% - 26px);
}

.meme__btn {
  position: absolute;
  width: 100%;
  height: calc(100% - 342px);
  /* background-color: aqua; */
}

.meme__btn:hover {
  cursor: pointer;
}

.meme__h-line,
.meme__v-line {
  position: absolute;
  display: block;
  background-color: #000000;
  transform: rotate(0);
}

.meme__h-line {
  right: 5px;
  top: 32px;
  width: 20px;
  height: 3px;
}

.meme__v-line {
  content: "";
  right: 13px;
  top: 23px;
  width: 3px;
  height: 20px;
}

.meme__input {
  display: none;
}

.meme__input:checked + .meme__btn > .meme__h-line,
.meme__input:checked + .meme__btn > .meme__v-line {
  transform: rotate(45deg);
}

.meme__img {
  max-width: 80vw;
}

.meme__img:hover {
  cursor: pointer;
}