html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
  background-color: #f6f6ec;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.meme__title {
  align-self: baseline;
}

.meme__input {
  display: none;
}

.meme__btn-line,
.meme__btn-line::after {
  position: absolute;
  display: block;
  background-color: #000000;
}

.meme__btn-line {
  right: 5px;
  top: 31px;
  width: 20px;
  height: 3px;
}

.meme__btn-line::after {
  content: "";
  right: 8px;
  top: -8px;
  width: 3px;
  height: 20px;
}

.meme__img {
  max-width: 80vw;
}